<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee</th>
      <th scope="col">Position</th>
      <th scope="col">Mobile</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of service.list;let i=index">
      <!-- scope // codigo bootstrap -->

      <th scope="row" (click)="populateForm(emp)">{{i+1}}</th>
      <th scope="row" (click)="populateForm(emp)">{{emp.EMPCode}} - {{emp.FullName}}</th>
      <th scope="row" (click)="populateForm(emp)">{{emp.Position}}</th>
      <th scope="row" (click)="populateForm(emp)">{{emp.Mobile}}</th>
      <th scope="row" ><button (click)="onDelete(emp.EmployeeID)" class="btn btn-danger"><fa name="trash"></fa></button></th>
    </tr>
  </tbody>
</table>